<%= simple_form_for([:admin, @client]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :business_name %>
    <%= f.input :contact_name %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :password %>
  </div>
  <br/>
  <%= f.button :submit, class: "btn green" %>
<% end %>
