<%= render 'admin/page_header', :@page_title => "Clients", :@page_subtitle => "" %>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>All site users
				</div>
<!-- 							<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div> -->
			</div>
			<div class="portlet-body">
				<!-- <div class="table-toolbar">
					<div class="btn-group">
						<button id="sample_editable_1_new" class="btn green">
						Add New <i class="fa fa-plus"></i>
						</button>
					</div>
					<div class="btn-group pull-right">
						<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="#">Print</a>
							</li>
							<li>
								<a href="#">Save as PDF</a>
							</li>
							<li>
								<a href="#">Export to Excel</a>
							</li>
						</ul>
					</div>
				</div> -->
				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
					<thead>
						<tr>
							<th>
							</th>
							<th>
								Business name
							</th>
							<th>
								Contact name
							</th>
							<th>
								Phone
							</th>
							<th>
								Email
							</th>
						</tr>
					</thead>
					<tbody>
					<% @clients.each do |client| %>
						<tr>
							<td>
								<%#= image_tag %>
							</td>
							<td>
								<%= link_to client.business_name.titleize, admin_client_path(client) %>
							</td>
							<td>
								<%= link_to client.contact_name.titleize, admin_client_path(client) %>
							</td>
							<td>
								<%= client.phone %>
							</td>
							<td>
								<%= client.email %>
							</td>
<!-- 							<td>
								<a class="delete" href="javascript:;">Delete</a>
							</td> -->
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->

		<%= link_to "New client", new_admin_client_path, class: "btn green" %>
	</div>
</div>
<!-- END PAGE CONTENT -->


<% content_for(:scripts) do %>

<% end %>