<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12 blog-page">
		<div class="row">
			<div class="col-md-9 article-block">
				<h3><%= @client.friendly_name %></h3>
				<div class="blog-tag-data">
					<div class="row">
						<div class="col-md-6">
							<ul class="list-inline blog-tags">
								<li>
									<i class="fa fa-tags"></i>

								</li>
							</ul>
						</div>
						<div class="col-md-6 blog-tag-data-inner">
							
						</div>
					</div>
				</div>
				<!--end news-tag-data-->
				<div>
					
				</div>
				<hr>
			</div>
			<!--end col-md-9-->
			<%= render 'admin/clients/show/sidebar' %>
		</div>
	</div>
</div>
<!-- END PAGE CONTENT-->