<!-- BEGIN PORTLET-->
<div class="portlet solid light-grey bordered">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-bullhorn"></i>Activities
		</div>
		<div class="tools">
			<div class="btn-group pull-right" data-toggle="buttons">
				<a href="" class="btn blue btn-sm active">Users</a>
				<a href="" class="btn blue btn-sm">Orders</a>
			</div>
		</div>
	</div>
	<div class="portlet-body">
		<div id="site_activities_loading">
			<img src="assets/img/loading.gif" alt="loading"/>
		</div>
		<div id="site_activities_content" class="display-none">
			<div id="site_activities" style="height: 100px;">
			</div>
		</div>
	</div>
</div>
<!-- END PORTLET-->