<!-- BEGIN PORTLET-->
<div class="portlet box blue calendar">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-calendar"></i>Calendar
		</div>
	</div>
	<div class="portlet-body light-grey">
		<div id="calendar">
		</div>
	</div>
</div>
<!-- END PORTLET-->