<div class="portlet box green">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-dollar"></i>Capital accounts
		</div>
		<div class="actions">
			<!-- <a href="javascript:;" class="btn btn-sm yellow easy-pie-chart-reload"><i class="fa fa-repeat"></i> Reload</a> -->
		</div>
	</div>
	<div class="portlet-body">
		<div class="row">
			<div class="col-md-4">
				<h2>$1000</h2>
				<a class="title" href="#">Mike's <i class="m-icon-swapright"></i></a>
			</div>
			<div class="margin-bottom-10 visible-sm">
			</div>
			<div class="col-md-4">
				<h2>$1000</h2>
					<a class="title" href="#">Steve's <i class="m-icon-swapright"></i></a>
				
			</div>
			<div class="margin-bottom-10 visible-sm">
			</div>
		</div>
	</div>
</div>