<div class="portlet box purple">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-calendar"></i>General Stats
		</div>
		<div class="actions">
			<a href="javascript:;" class="btn btn-sm yellow easy-pie-chart-reload"><i class="fa fa-repeat"></i> Reload</a>
		</div>
	</div>
	<div class="portlet-body">
		<div class="row">
			<div class="col-md-4">
				<div class="easy-pie-chart">
					<div class="number transactions" data-percent="55">
						<span>
							+55
						</span>
						%
					</div>
					<a class="title" href="#">Transactions <i class="m-icon-swapright"></i></a>
				</div>
			</div>
			<div class="margin-bottom-10 visible-sm">
			</div>
			<div class="col-md-4">
				<div class="easy-pie-chart">
					<div class="number visits" data-percent="85">
						<span>
							+85
						</span>
						%
					</div>
					<a class="title" href="#">New Visits <i class="m-icon-swapright"></i></a>
				</div>
			</div>
			<div class="margin-bottom-10 visible-sm">
			</div>
			<div class="col-md-4">
				<div class="easy-pie-chart">
					<div class="number bounce" data-percent="46">
						<span>
							-46
						</span>
						%
					</div>
					<a class="title" href="#">Bounce <i class="m-icon-swapright"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>