<!-- BEGIN REGIONAL STATS PORTLET-->
	<div class="portlet">
		<div class="portlet-title">
			<div class="caption">
				<i class="fa fa-globe"></i>Regional Stats
			</div>
			<div class="tools">
				<a href="" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="" class="reload"></a>
				<a href="" class="remove"></a>
			</div>
		</div>
		<div class="portlet-body">
			<div id="region_statistics_loading">
				<img src="assets/img/loading.gif" alt="loading"/>
			</div>
			<div id="region_statistics_content" class="display-none">
				<div class="btn-toolbar margin-bottom-10">
					<div class="btn-group" data-toggle="buttons">
						<a href="" class="btn default btn-sm active">Users</a>
						<a href="" class="btn default btn-sm">Orders</a>
					</div>
					<div class="btn-group pull-right">
						<a href="" class="btn default btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						Select Region
						<span class="fa fa-angle-down">
						</span>
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:;" id="regional_stat_world">World</a>
							</li>
							<li>
								<a href="javascript:;" id="regional_stat_usa">USA</a>
							</li>
							<li>
								<a href="javascript:;" id="regional_stat_europe">Europe</a>
							</li>
							<li>
								<a href="javascript:;" id="regional_stat_russia">Russia</a>
							</li>
							<li>
								<a href="javascript:;" id="regional_stat_germany">Germany</a>
							</li>
						</ul>
					</div>
				</div>
				<div id="vmap_world" class="vmaps display-none">
				</div>
				<div id="vmap_usa" class="vmaps display-none">
				</div>
				<div id="vmap_europe" class="vmaps display-none">
				</div>
				<div id="vmap_russia" class="vmaps display-none">
				</div>
				<div id="vmap_germany" class="vmaps display-none">
				</div>
			</div>
		</div>
	</div>
	<!-- END REGIONAL STATS PORTLET-->