<div class="col-md-3 blog-sidebar">
	<ul class="list">
		<li>
			<i class="fa fa-calendar"></i>Joined <%= @client.created_at.strftime("%B %d, %Y") %>
		</li>
	</ul>

	<div class="space20">
	</div>
	<!-- <h3>Top Entiries</h3>
	<div class="top-news">
		<a href="#" class="btn red">
		<span>
			Metronic News
		</span>
		<em>Posted on: April 16, 2013</em>
		<em>
		<i class="fa fa-tags"></i>
		Money, Business, Google </em>
		<i class="fa fa-briefcase top-news-icon"></i>
		</a>
		<a href="#" class="btn green">
		<span>
			Top Week
		</span>
		<em>Posted on: April 15, 2013</em>
		<em>
		<i class="fa fa-tags"></i>
		Internet, Music, People </em>
		<i class="fa fa-music top-news-icon"></i>
		</a>
		<a href="#" class="btn blue">
		<span>
			Gold Price Falls
		</span>
		<em>Posted on: April 14, 2013</em>
		<em>
		<i class="fa fa-tags"></i>
		USA, Business, Apple </em>
		<i class="fa fa-globe top-news-icon"></i>
		</a>
		<a href="#" class="btn yellow">
		<span>
			Study Abroad
		</span>
		<em>Posted on: April 13, 2013</em>
		<em>
		<i class="fa fa-tags"></i>
		Education, Students, Canada </em>
		<i class="fa fa-book top-news-icon"></i>
		</a>
		<a href="#" class="btn purple">
		<span>
			Top Destinations
		</span>
		<em>Posted on: April 12, 2013</em>
		<em>
		<i class="fa fa-tags"></i>
		Places, Internet, Google Map </em>
		<i class="fa fa-bolt top-news-icon"></i>
		</a>
	</div>
	<div class="space20">
	</div> 
	<h3>Blog Tags</h3>
	<ul class="list-inline sidebar-tags">
		<li>
			<a href="#"><i class="fa fa-tags"></i> Business</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Music</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Internet</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Money</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Google</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> TV Shows</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Education</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> People</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> People</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Math</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Photos</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Electronics</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Apple</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tags"></i> Canada</a>
		</li>
	</ul>
	<div class="space20">
	</div> -->
<!-- 	<h3>Tabs</h3>
	<div class="tabbable tabbable-custom">
		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#tab_1_1">Section 1</a>
			</li>
			<li>
				<a data-toggle="tab" href="#tab_1_2">Section 2</a>
			</li>
		</ul>
		<div class="tab-content">
			<div id="tab_1_1" class="tab-pane active">
				<p>
					I'm in Section 1.
				</p>
				<p>
					 Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
				</p>
			</div>
			<div id="tab_1_2" class="tab-pane">
				<p>
					Howdy, I'm in Section 2.
				</p>
				<p>
					 Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.
				</p>
			</div>
		</div>
	</div>
	<div class="space20">
	</div>
	<h3>Recent Twitts</h3>
	<div class="blog-twitter">
		<div class="blog-twitter-block">
			<a href="">@keenthemes</a>
			<p>
				At vero eos et accusamus et iusto odio.
			</p>
			<a href="#"><em>http://t.co/sBav7dm</em></a>
			<span>
				5 hours ago
			</span>
			<i class="fa fa-twitter blog-twiiter-icon"></i>
		</div>
		<div class="blog-twitter-block">
			<a href="">@keenthemes</a>
			<p>
				At vero eos et accusamus et iusto odio.
			</p>
			<a href="#"><em>http://t.co/sBav7dm</em></a>
			<span>
				7 hours ago
			</span>
			<i class="fa fa-twitter blog-twiiter-icon"></i>
		</div>
		<div class="blog-twitter-block">
			<a href="">@keenthemes</a>
			<p>
				At vero eos et accusamus et iusto odio.
			</p>
			<a href="#"><em>http://t.co/sBav7dm</em></a>
			<span>
				8 hours ago
			</span>
			<i class="fa fa-twitter blog-twiiter-icon"></i>
		</div>
	</div> -->
</div>
<!--end col-md-3-->