<!-- BEGIN DASHBOARD STATS -->
<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat red">
			<div class="visual">
				<i class="fa fa-group"></i>
			</div>
			<div class="details">
				<div class="number">
					<%= @node_count %>
				</div>
				<div class="desc">
					<%= @node_count == 1 ? "Node" : "Nodes" %>
				</div>
			</div>
			<%= link_to admin_nodes_path, class: "more" do %>
				See all nodes <i class="m-icon-swapright m-icon-white"></i>
			<% end %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green">
			<div class="visual">
				<i class="fa fa-star"></i>
			</div>
			<div class="details">
				<div class="number">
					<%#= @active_project_count %>
				</div>
				<div class="desc">
					Active Projects
				</div>
			</div>
			<%#= link_to admin_projects_path, class: "more" do %>
			See all active projects <i class="m-icon-swapright m-icon-white"></i>
			<%# end %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat purple">
			<div class="visual">
				<i class="fa fa-exclamation-triangle"></i>
			</div>
			<div class="details">
				<div class="number">
					<%#= @invoice_count %>
				</div>
				<div class="desc">
					Payable
				</div>
			</div>
			<%#= link_to admin_invoices_path, class: "more" do %>
				View all payable invoices <i class="m-icon-swapright m-icon-white"></i>
			<%# end %>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat yellow">
			<div class="visual">
				<i class="fa fa-dollar"></i>
			</div>
			<div class="details">
				<div class="number">
					<%#= @total_earned %> 
				</div>
				<div class="desc">
					Earned
				</div>
			</div>
			<%#= link_to admin_invoices_path, class: "more" do %>
				View all payments <i class="m-icon-swapright m-icon-white"></i>
			<%# end %>
		</div>
	</div>
</div>
<!-- END DASHBOARD STATS -->