<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
		<%= @page_title %> <small><%= @page_subtitle %></small>
		</h3>
<!-- 		<ul class="page-breadcrumb breadcrumb">
			<% if @header_actions %>
			<li class="btn-group">
				<button data-close-others="true" data-delay="1000" data-hover="dropdown" data-toggle="dropdown" class="btn blue dropdown-toggle" type="button">
				<span>
					Actions
				</span>
				<i class="fa fa-angle-down"></i>
				</button>		
				<ul role="menu" class="dropdown-menu pull-right">
					<% @header_actions.each do |action| %>
						<li>
							<%= link_to action[:name], action[:path] %>
						</li>
					<% end %>
					 <li class="divider"> </li>
				</ul>
			</li>
			<% end %>
			<li>
				<i class="fa fa-home"></i>
				<%#= link_to "Home", admin_path %>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<%#= link_to "Dashboard", admin_path %>
			</li>
			<li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
					<i class="fa fa-calendar"></i>
					<span>
					</span>
					<i class="fa fa-angle-down"></i>
				</div>
			</li>
		</ul> -->
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->