
<!-- BEGIN PAGE CONTENT-->
<%= render 'admin/page_header', :@page_title => "Welcome", :@page_subtitle => "" %>
<%#= render 'admin/dashboard/dash_stats' %>

<p>
Welcome to the Medellín ecosystem map admin panel.
</p>

<p>
From here, you can manage the 'nodes' that are visible from front-end of the website.
</p>

<p>
Enquiries: contact Michael Dawson
<ul class="list-inline">
	<li>
		<i class="fa fa-skype"></i> michael.paul.dawson
	</li>
	<li>
		<i class="fa fa-envelope"></i> michael@brandycontent.com
	</li>

</ul>
</p>

<!-- END PAGE CONTENT-->


<% content_for(:page_level_styles) do %>

<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
	<link href="/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
	<link href="/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/>
	<link href="/assets/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css"/>
	<link href="/assets/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
	<link href="/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL PLUGIN STYLES -->

<% end %>
