<%= simple_form_for([:admin, @node]) do |f| %>
  
    <div class="portlet box red">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-reorder"></i> Details of this node
        </div>
      </div>
      <div class="portlet-body form">
        <div class='form-body'>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :category_id, as: :select, collection: Category.all %>
          <%= f.association :periods %>
        </div>
      </div>
    </div>

    <div class="form-actions right">
      <%= link_to "Cancel", admin_nodes_path, class: "btn default" %>
      <%= f.submit "Submit", class: "btn green" %>
    </div>
  </div>
<% end %>