<%= render 'admin/page_header', :@page_title => "Nodes", :@page_subtitle => "" %>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>All Nodes
				</div>
<!-- 							<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div> -->
			</div>
			<div class="portlet-body">
				<!-- <div class="table-toolbar">
					<div class="btn-group">
						<button id="sample_editable_1_new" class="btn green">
						Add New <i class="fa fa-plus"></i>
						</button>
					</div>
					<div class="btn-group pull-right">
						<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="#">Print</a>
							</li>
							<li>
								<a href="#">Save as PDF</a>
							</li>
							<li>
								<a href="#">Export to Excel</a>
							</li>
						</ul>
					</div>
				</div> -->
				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
					<thead>
						<tr>
							<th>
								Name
							</th>
							<th>
								Category
							</th>
							<th>
								Description
							</th>
							<th>
								Created By
							</th>
						</tr>
					</thead>
					<tbody>
					<% @nodes.each do |node| %>
						<tr>
							<td>
								<%= link_to node.name, admin_node_path(node) %>
							</td>
							<td>
								<%= link_to node.category.name, admin_category_path(node.category)  if node.category %>
							</td>
							<td>
								<%= node.description %>
							</td>
							<td>
								<%= node.admin_user %>
							</td>
							<td>
								<%= link_to "Edit", edit_admin_node_path(node) %>
							</td>
							<td>
								<%= link_to "Delete", admin_node_path(node), method: :delete, :'data-confirm' => "Are you sure?" %></a>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->

		<%= link_to "New node", new_admin_node_path, class: "btn green" %>
	</div>
</div>
<!-- END PAGE CONTENT -->

