<h4>Payment Details:</h4>
<ul class="list-unstyled">
  <li>
    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
  </li>
  <li>
    <strong>Account Name:</strong> FoodMaster Ltd
  </li>
  <li>
    <strong>SWIFT code:</strong> 45454DEMO545DEMO
  </li>
  <li>
    <strong>V.A.T Reg #:</strong> 542554(DEMO)78
  </li>
  <li>
    <strong>Account Name:</strong> FoodMaster Ltd
  </li>
  <li>
    <strong>SWIFT code:</strong> 45454DEMO545DEMO
  </li>
</ul>