<!-- BEGIN USER LOGIN DROPDOWN -->
<li class="dropdown user">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
	<!-- <img alt="" src="/assets/img/avatar1_small.jpg"/> -->
	<span class="username">
		<%= current_admin_user.email %>
	</span>
	<i class="fa fa-angle-down"></i>
	</a>
	<ul class="dropdown-menu">
		<!-- <li>
			<a href="extra_profile.html"><i class="fa fa-user"></i> My Profile</a>
		</li>
		<li>
			<a href="page_calendar.html"><i class="fa fa-calendar"></i> My Calendar</a>
		</li>
		<li>
			<a href="inbox.html"><i class="fa fa-envelope"></i> My Inbox
			<span class="badge badge-danger">
				3
			</span>
			</a>
		</li>
		<li>
			<a href="#"><i class="fa fa-tasks"></i> My Tasks
			<span class="badge badge-success">
				7
			</span>
			</a>
		</li>
		<li class="divider">
		</li>
		<li>
			<a href="javascript:;" id="trigger_fullscreen"><i class="fa fa-move"></i> Full Screen</a>
		</li>
		<li>
			<a href="extra_lock.html"><i class="fa fa-lock"></i> Lock Screen</a>
		</li> -->
		<li>
			<%= link_to destroy_admin_user_session_path, method: :delete do %>
				<i class="fa fa-key"></i> Log Out
			<% end %>
		</li>
	</ul>
</li>
<!-- END USER LOGIN DROPDOWN -->