<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :client %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :status %>
  </div>
  <br/>
  <%= f.button :submit, class: "btn green" %>
<% end %>
