<%= render 'admin/page_header', :@page_title => "Projects", :@page_subtitle => "" %>
<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>All Projects
				</div>
<!-- 							<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div> -->
			</div>
			<div class="portlet-body">
				<!-- <div class="table-toolbar">
					<div class="btn-group">
						<button id="sample_editable_1_new" class="btn green">
						Add New <i class="fa fa-plus"></i>
						</button>
					</div>
					<div class="btn-group pull-right">
						<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="#">Print</a>
							</li>
							<li>
								<a href="#">Save as PDF</a>
							</li>
							<li>
								<a href="#">Export to Excel</a>
							</li>
						</ul>
					</div>
				</div> -->
				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
					<thead>
						<tr>
							<th>
								Client
							</th>
							<th>
								Project name
							</th>
							<th>
								Description
							</th>
							<th>
								Status
							</th>
							<th>
								Email
							</th>
						</tr>
					</thead>
					<tbody>
					<% @projects.each do |project| %>
						<tr>
							<td>
								<%= link_to project.client.friendly_name, admin_client_path(project.client) %>
							</td>
							<td>
								<%= link_to project.name, admin_project_path(project) %>
							</td>
							<td>
								<%= link_to project.description, admin_project_path(project) %>
							</td>
							<td>
								<%= project.status %>
							</td>
							<td>
								<%#= project %>
							</td>
<!-- 							<td>
								<a class="delete" href="javascript:;">Delete</a>
							</td> -->
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->

		<%= link_to "New project", new_admin_project_path, class: "btn green" %>
	</div>
</div>
<!-- END PAGE CONTENT -->

