/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:   	1.0
date:      	07/27/11
author:		themepunch
email:     	support@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



/*********************************************
	-	SETTINGS FOR BANNER CONTAINERS	-
**********************************************/

.fullscreen-container {
		width:100%;
		position:relative;
		padding:0;
		display:none;
}



.fullwidthbanner-container{
	width:100%;
	position:relative;
	padding:0;
	overflow:hidden;	
}

.fullwidthbanner-container ul,
.fullscreenbanner-container ul	{	display:none}

.fullwidthbanner-container .fullwidthbanner{
	width:100%;
	position:relative;
}

.roundedcorners	{
	 -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	-webkit-border-radius:5px;
	border-radius: 5px;

}


.tp-caption.roundedimage img {
	-webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
}


/******************************
	-	MEGAFOLIO	-
********************************/


.megafolio-fullwidth	{	width:100%; min-width:240px; width:auto; margin:auto; padding:0px 30px;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
                            -webkit-box-sizing: border-box;
							 overflow: hidden;
							 
						}
						
.megafolio-container,
.megafolio-container-splash	{	width:100%;  position:relative;
								-moz-box-sizing: border-box;
								box-sizing: border-box;
                                -webkit-box-sizing: border-box;
 							}
 							
.gallerycaption-bottom	{	background: #fff !important;  color:#000 !important;} 		

.mega-hover.notitle .mega-hoverlink, .mega-hover.notitle .mega-hoverview {
margin-top: -48px !important;
}					
						


/*******************************************************************************
		-	BULLETS AND ARROWS ADD ONS TO THE EXISTING VERSION 	-
*******************************************************************************/

  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/

  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,700);

.tp-bannertimer {
    background:#777 !important;
    background:rgba(0,0,0,0.1) !important;
    height:5px !important;
  }
.tp-bullets {
    z-index: 40000 !important;
    position: absolute;
    bottom: 0px;
}

.tp-bullets.simplebullets {
    bottom: 10px !important;
}
.tp-bullets.simplebullets.navbar {
    bottom: -20px;
    height: 35px;
    padding: 0px 0px;
    margin-top: 0px;
}
.tp-bullets.simplebullets .bullet {
    cursor: pointer;
    position: relative !important;
    background: rgba(0, 0, 0, 0.5) !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 6px !important;
    height: 6px !important;
    border: 5px solid rgba(0, 0, 0, 0) !important;
    display: inline-block;
    margin-right: 2px !important;
    margin-bottom: 14px !important;
    -webkit-transition: background-color 0.2s, border-color 0.2s; 
    -moz-transition: background-color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s;
    -ms-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s;
    float:none !important;
}
.tp-bullets.simplebullets .bullet.last {
    margin-right: 0px
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	background: rgba(255, 255, 255, 1) !important;
	width: 6px !important;
    height: 6px !important;
    border: 5px solid rgba(0, 0, 0, 1) !important;
}



.tparrows:before {
    font-family: 'revicons';
	color: #fff;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0;
    margin-top: 9px;
    text-align: center;
    width: 40px;
    font-size: 20px;
}
.tparrows {

    cursor: pointer;

    background: rgba(0, 0, 0, 0.5) !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40px !important;
    height: 40px !important;
	
}
.tparrows:hover {
    color: #fff;
}
.tp-leftarrow:before {
    content: '\e824';
}
.tp-rightarrow:before {
    content: '\e825';
}
.tparrows.tp-rightarrow:before {
    margin-left: 1px;
}
.tparrows:hover {
    background: rgba(0, 0, 0, 1) !important;
}