
.project-crosslink a:hover, 
.project-crosslink a:focus {
-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
background-color: #e33a0c;
color: #fff !important
}

.project-crosslink a {
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
background-color: #fff;
display: block;
padding: 3.5em .82341em;
}

@media only screen and (min-width: 767px) {
	.project-crosslink {
	font-size: 40px;
	}
	.project-crosslink {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	}

	.border-top {
	border-top: 1px solid #eee;
	}
	a, a:visited {
	text-decoration: none;
	color: #e33a0c;
	}
}

@media only screen and (min-width: 767px) {
	.project-crosslink {
	font-size: 40px;
	}
	.project-crosslink {
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	}
}
