<%= simple_form_for([:admin, @admin_user]) do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password %>

  <%= f.submit "Submit", class: 'btn' %>
<% end %>