<h3 class="page-title">
All admin users
</h3>


<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>All admin users
				</div>
<!-- 							<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div> -->
			</div>
			<div class="portlet-body">
				<!-- <div class="table-toolbar">
					<div class="btn-group">
						<button id="sample_editable_1_new" class="btn green">
						Add New <i class="fa fa-plus"></i>
						</button>
					</div>
					<div class="btn-group pull-right">
						<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="#">Print</a>
							</li>
							<li>
								<a href="#">Save as PDF</a>
							</li>
							<li>
								<a href="#">Export to Excel</a>
							</li>
						</ul>
					</div>
				</div> -->
				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
					<thead>
						<tr>
							<th>
							</th>
							<th>
								Name
							</th>
							<th>
								Email
							</th>
							<th>
								Added on
							</th>
						</tr>
					</thead>
					<tbody>
					<% @admin_users.each do |user| %>
						<tr>
							<td>
								<%#= image_tag %>
							</td>
							<td>
								<%= link_to user.full_name.titleize, [:admin, user] %>
							</td>
							<td>
								<%= user.email %>
							</td>
							<td>
								<%= user.created_at.strftime("%m/%d/%Y") %>
							</td>
							<td>
								<%= link_to "Edit", edit_admin_admin_user_path(user) %>
							</td>
							<td>
								<%= link_to "Delete", admin_admin_user_path(user), method: :delete, :'data-confirm' => "Are you sure?" %></a>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->

		<%= link_to "New admin user", new_admin_admin_user_path, class: "btn green" %>
	</div>
</div>
<!-- END PAGE CONTENT -->
