= semantic_form_for :update_site_configuration, :url => admin_site_configuration_path(0), :method => :put do |form|
  = form.inputs do
    - @site_configurations.all.each do |record|
      = form.input record.key.to_sym, as: record.form_type.to_sym, input_html: {value: record.value}, :include_blank => false, collection: (options_from_collection_for_select(eval(record.form_collection_command), 'id', 'title', record.value) if record.form_collection_command.present?)

  = form.submit "Update Site Configuration"