<%= simple_form_for([:admin, @category]) do |f| %>
<div class="portlet box red">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-reorder"></i> Details of this category
    </div>
  </div>
  <div class="portlet-body form">
    <div class='form-body'>
    		<%= f.error_notification %>
			  <%= f.input :name %>

			  <% if @category.persisted? && false %>
				  <h4>Nodes</h4>
					<%= f.fields_for(:nodes) do |ff| %>
						<%= ff.input :name %>
						<%= ff.input :description %>
					<% end %>
		  	<% end %>

		</div>
  
		<div class="form-actions right">
			<%= link_to "Cancel", admin_categories_path, class: "btn default" %>
			<%= f.submit "Submit", class: "btn green" %>
		</div>
  </div>
</div>
<% end %>