<h3 class="page-title">
Site categories
</h3>


<!-- BEGIN PAGE CONTENT-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-edit"></i>All categories
				</div>
<!-- 							<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div> -->
			</div>
			<div class="portlet-body">
				<!-- <div class="table-toolbar">
					<div class="btn-group">
						<button id="sample_editable_1_new" class="btn green">
						Add New <i class="fa fa-plus"></i>
						</button>
					</div>
					<div class="btn-group pull-right">
						<button class="btn dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="#">Print</a>
							</li>
							<li>
								<a href="#">Save as PDF</a>
							</li>
							<li>
								<a href="#">Export to Excel</a>
							</li>
						</ul>
					</div>
				</div> -->
				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
					<thead>
						<tr>
							<th>
								Name
							</th>
							<% Period.all.each do |period| %>
								<th>
									Nodes <%= period.name %>
								</th>
							<% end %>
							<th>
								Added on
							</th>
						</tr>
					</thead>
					<tbody>
					<% @categories.each do |category| %>
						<tr>
							<td>
								<%= link_to category.name, [:admin, category] %>
							</td>
							<% Period.all.each do |period| %>
								<td>
									<%= period.nodes.count %>
								</td>
							<% end %>
							<td>
								<%= category.created_at.strftime("%m/%d/%Y") %>
							</td>
							<td>
								<%= link_to "Edit", edit_admin_category_path(category) %>
							</td>
							<td>
								<%= link_to "Delete", admin_category_path(category), method: :delete, :'data-confirm' => "Are you sure?" %></a>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->

		<%= link_to "New category", new_admin_category_path, class: "btn green" %>
	</div>
</div>
<!-- END PAGE CONTENT -->


<% content_for(:scripts) do %>

<% end %>