/***
Login page
***/

/* logo page */
[data-controller*='Devise']{
    background-color: #444 !important;

    a, a:visited {
      color: #fff;
    }

  .logo {
    margin: 0 auto;   
    margin-top:60px;
    padding: 15px;
    text-align: center;
  }  

  .content {
    background-color:#fff; 
    width: 360px;
    margin: 0 auto; 
    margin-bottom: 0px;
    padding: 30px;  
    padding-top: 20px;  
    padding-bottom: 15px;  
  }

  .content h3 {
    color: #000;
  }
  .content h4  {
    color: #555;
  }

  .content p {
    color: #222;
  }

  .content .login-form,
  .content .forget-form {
      padding: 0px;
      margin: 0px;
  }

  .content .input-icon {
    border-left: 2px solid #35aa47 !important;
  }

  .content .input-icon .form-control {
    border-left: 0;
  }

  .content .forget-form {
    display: none;
  }

  .content .register-form {
    display: none;
  }

  .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
  }

  .content .form-actions {
    background-color: #fff;
    clear: both;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 0px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
  }

  .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
  }  

  .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
  }

  .content .form-actions .checkbox {
    margin-top: 8px;
    display: inline-block;
  }

  .content .form-actions .btn {
    margin-top: 1px;
  }

  .content .forget-password {
    margin-top: 25px;
  }

  .content .create-account {
    border-top: 1px dotted #eee;
    padding-top: 10px;
    margin-top: 15px;
  }

  .content .create-account a {
    display: inline-block;
    margin-top: 5px;
  }

  /* select2 dropdowns */
  .content .select2-container {
    border-left: 2px solid #35aa47 !important;
  }

  .content .select2-container .select2-choice {
    border-left: none !important;
  }

  .content .select2-container i {
    display: inline-block;
    position: relative;
    color: #ccc;
    z-index: 1;
    top:1px;
    margin: 4px 4px 0px 3px; 
    width: 16px;
    height: 16px;
    font-size: 16px;
    text-align: center; 
  }

  .content .has-error .select2-container i {
    color: #b94a48;
  }

  .content .select2-container a span {
    font-size: 13px;
  }

  .content .select2-container a span img {
    margin-left: 4px;
  }

  /* footer copyright */
  .copyright {
    text-align: center;
    margin: 0 auto; 
    padding: 10px;
    color: #999;
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .logo {
    margin-top:10px;
  }

  .content {
    padding1: 20px; 
    width: 280px;
  }

  .content h3 {
    font-size: 22px;
  }


  .checkbox {
    font-size: 13px;
  }
}
