// Place all the styles related to the nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.large {
	.nodeguts {
  		display:block!important;
  		color:#f11;
  	}
}

.description {
	margin-top:10px;
	margin-bottom:10px;
	overflow:hidden;
	text-overflow:ellipsis;
	max-height:275px;
}

.bg-image1 h1 {
	color: #fff;
}

.bg-image1 { background: url(/assets/bgs/medellin.jpg) no-repeat; }
.bg-image2 { background: url(/assets/bgs/medellin_2.jpg) no-repeat; }
