<% if flash.count > 0 %>
	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
			</div>
		<% end %>
	</div>
<% end %>