<!--Footer-->
<footer>
	<div class="container footer">
		<h2>Copyright &copy; <%= link_to "Brandy Content", "http://brandycontent.com", :target=>"_blank" %>, <%= Date.today.year %></h2>
	</div>
</footer>