<header class="row-fluid">
  <div class="container">
    <div class="span1 relative">
    	<div class="page-navi">
      	<%#= link_to "", root_path, class: "home-page page-transition" %>
        <%= link_to admin_user_root_path do %>
          <i class="fa fa-cogs" style="color: #bbb"></i>
        <% end %>
      </div>
    </div>

    <div class="span8">
      <h1><%= @header %></h1> 
    </div>
    <div class="span3">
      <%= render 'layouts/nav' %>
    </div>
  </div>
</header>