<nav class="submenu ">
	<ul>
<!-- 	  <li><a href="#about" class="page-transition" onclick="gotoPageWithTrans5(1)">About</a></li>
	  <li><a href="#feedback" class="page-transition" onclick="gotoPageWithTrans1(6)">Contact</a></li>
	  <li><a href="#starting" class="page-transition" onclick="gotoPageWithTrans1(3)">Search</a></li>

	  <li><a href="#explore" class="page-transition" onclick="gotoPageWithTrans1(4)">Explore</a></li>
 -->
 		<% Period.all.each do |period| %>
		<li>
			<% if (@period.name == period.name) %>
				<%= @period.name.titleize %>
			<% else %>
				<%= link_to period.name.titleize, period %> 
			<% end %>
		</li>
		<% end %>
	</ul>
</nav>