<% content_for(:page_title) { "1625 Admin" } %>
<% content_for(:body_classes) { "page-header-fixed" } %>
<% content_for(:content) do %>

	<%= render 'admin/header' %>

	<div class="clearfix">
	</div>

	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<%= render 'admin/sidebar' %>

		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<%= render 'layouts/flash' %>
				<%#= render 'admin/dashboard/portlet_config' %>
				<%#= render 'admin/dashboard/style_customiser' %>
				<%= yield %>
			</div>
		</div>
		<!-- END CONTENT -->
	</div>
	<!-- END CONTAINER -->

	<%= render 'admin/footer' %>

<% end %>

<%= render file: 'layouts/common' %>