<% content_for(:content) do %>

	<%#= render 'layouts/flash_messages' %>


	<article class="pt-page bg-image<%= @background_img %>">
		<div class="outer-wrapper overlay-<%= @overlay_color %>">

		      <!--Header-->
      			<%= render 'layouts/header' if !(controller.action_name == "index")%> 
  					<% if flash.count > 0 %>
  						<div class="container">
							<% flash.each do |type, message| %>
								<div class="alert <%= flash_class type %>">
								<button class="close" data-dismiss="alert">x</button>
								<%= message %>
								</div>
							<% end %>
						</div>
					<% end %> 
			<div id="pt-main" class="pt-perspective" style="display:none">
				<%= yield %>
			</div>
      
      <div class="push"><!--//--></div><!--Ryan Fait's Sticky Footer-->
		</div>

		<%= render 'layouts/footer' %>
	</article>

<% end %>

<%= render file: 'layouts/common' %>