<!DOCTYPE html>
<html <%#= yield(:html_data) %>>
	<head>
	  <title>T2VC Medellin</title>

		<%= stylesheet_link_tag "#{@stylesheet}", media: "all", "data-turbolinks-track" => true %>

		<%= javascript_include_tag "application" %>

		<%= csrf_meta_tags %>

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<!--Bootstrap-->

		<!--[if lt IE 9]>
		<link href="css/ie8.css" rel="stylesheet" media="screen">
		<script src="assets/html5shiv.js" type="text/javascript"></script>
		<![endif]-->
		<!--Background Images-->

	</head>

	<body <%= yield(:body_data) %> data-controller="<%= controller.class.parent == Object ? controller_name : "#{controller.class.parent}_#{controller_name}" %>" 
			data-action="<%= action_name %>" class="<%= yield(:body_classes) if content_for?(:body_classes) %>">

		
			<%= yield(:content) %>

	</body>

</html>
