<% content_for(:page_title) { "1625" } %>

<% content_for(:page_level_scripts) do %>

	<script>
		jQuery(document).ready(function() {     
		  App.init();
		  Login.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
<% end %>

<% content_for(:content) do %>

<div class="logo">
	<%= image_tag("header_logo.png") %>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
	<%= render 'layouts/flash' unless session[:returning] == nil %>
	<%= yield %>
</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div class="copyright">
	2013 &copy; <%= link_to "Brandy Content", "http://brandycontent.com" %>
</div>

<% end %>

<%= render file: 'layouts/common' %>